@media (max-width: 1024px) {
  header nav {
    display: none;
  }
  .sell button {
    display: none;
  }
  .search-button {
    display: block;
  }
  .big-container {
    flex-wrap: wrap;
    max-width: 375px;
  }
  .section-2 {
    order: 1;
    max-width: 335px;

    margin-bottom: 20px;
  }
  .image img {
    min-height: 435px;
  }
  .section-1 {
    order: 2;
    max-width: 375px;
  }
  .search {
    max-width: 294px;
  }
  .checkboxes {
    margin-bottom: 32px;
  }
  .search h2 {
    font-size: 24px;
    font-family: poppin;
    font-weight: 600;
    color: #000000cc;
    text-align: center;
    margin-bottom: 8px;
  }
  .search p {
    font-size: 14px;
  }
  .search-bar {
    display: none;
  }
  .selector {
    padding: 13px;
  }
  .selector select {
    min-width: 331px;
  }

  .price-range {
    margin-top: 41px;
  }
  .big-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .article {
    max-width: 335px;
  }

  .vip span {
    font-family: poppin;
    font-size: 12px;
    font-weight: 500px;
    color: #ffffff;
  }
  .article h3 {
    font-size: 14px;
  }
  .city {
    font-size: 12px;
  }
  .wrapper span {
    font-size: 12px;
  }
  footer {
    margin-top: 50px;
    padding: 40px 20px;
  }
  ol {
    display: flex;

    flex-direction: column;

    font-size: 16px;
  }
  .mail {
    display: none;
  }
}
